html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: #0f1509; 
  color: #fffbf7;
  box-sizing: border-box;

  background-image: url("/assets/background-light.svg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  body {
    background-image: url("/assets/background-light-mobile.svg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hidden {
  position: relative;
  background: radial-gradient(
      circle,
      rgba(255, 251, 247, 0.9) 10%,
      rgba(255, 246, 236, 0.1) 50%,
      transparent 90%
    )
    var(--posX) var(--posY) / 400px 400px no-repeat fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 251, 247, 0.1);
  transition: color 0.4s ease;
}

article {
  text-align: center;
  max-width: 80ch;
  padding: 1em;
}

.secret-logo-symbol {
  position: fixed;
  width: 60%;
  max-width: 30rem;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  animation: spin 15s linear infinite;
  opacity: 0.05; 
  margin-left: 0.5em;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lang-switcher {
  color: #fffbf7; 
  text-decoration: underline;
}

