<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />

    <link href="https://umami.alchemmist.xyz" rel="preconnect" crossorigin />
    <link href="https://cdn.jsdelivr.net" rel="preconnect" crossorigin />

    {{ $umami := resources.Get "umami.js" | resources.Minify |
    resources.Fingerprint }}
    <script
      src="{{ $umami.Permalink }}"
      data-website-id="10c310bd-96d9-4521-a366-c7ff4a78bce4"
      integrity="{{ $umami.Data.Integrity }}"
      defer
    ></script>

    {{ $js := resources.Get "main.js" | resources.Minify | resources.Fingerprint
    }}
    <script
      src="{{ $js.Permalink }}"
      integrity="{{ $js.Data.Integrity }}"
      defer
    ></script>

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/alchemmist/personal-site@main/site/static/assets/fonts/couriercyrps.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/alchemmist/personal-site@main/site/static/assets/fonts/cmu.serif-roman.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}"
    />
    <meta name="author" content="alchemmist" />

    <link rel="canonical" href="{{ .RelPermalink | absURL }}" />

    <!-- OpenGraph -->
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
    <meta
      property="og:description"
      content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}"
    />
    {{ $logo := partial "logo-nobackground.html" . }}
    <meta
      property="og:logo"
      content="data:image/svg+xml;base64,{{ $logo | base64Encode }}"
    />
    <meta
      property="og:image"
      content="{{ if .Params.image }}{{ .Params.image }}{{ else }}/assets/preview.png{{ end }}"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta
      property="og:type"
      content="{{ if .IsPage }}article{{ else }}website{{ end }}"
    />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }} - {{ .Site.Title }}" />
    <meta
      name="twitter:description"
      content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}"
    />
    <meta
      name="twitter:image"
      content="{{ if .Params.image }}{{ .Params.image }}{{ else }}/assets/preview.png{{ end }}"
    />
    <meta name="twitter:site" content="@alchemmist_blog" />

    <!-- Styles -->
    {{ $style := resources.Get "style.css" | resources.Minify |
    resources.Fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $style.Permalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />

    <!-- Favicons -->
    {{ $svg := partial "logo-nobackground.html" . }}
    <link
      rel="icon"
      href="data:image/svg+xml;base64,{{ $svg | base64Encode }}"
      type="image/svg+xml"
    />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ .Site.BaseURL }}index.xml"
      title="{{ .Site.Title }} RSS Feed"
    />

    <!-- External Libraries -->
    <link
      href="/_pagefind/pagefind-ui.css"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <script src="/_pagefind/pagefind-ui.js" defer></script>
    <script src="https://unpkg.com/@studio-freight/lenis"></script>

    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <button id="report-typo">Report</button>
    <div id="shortcut-overlay"></div>
    <div id="shortcut-modal">
      <h3>Keyboard Shortcuts</h3>
      <ul id="shortcut-list">
      </ul>
      <div class="close-btn">Close</div>
    </div>
    {{ if ne .RelPermalink "/search" }}
    <div id="search-modal" class="search-modal">
      <div class="search-modal-content">
        <div id="search-hidden"></div>
      </div>
    </div>
    {{ end }}
    <div
      id="moss-loader"
      style="
        display: none;
        position: fixed;
        inset: 0;
        background: #000;
        color: #fff;
        font-family: monospace;
        z-index: 999;
      "
    ></div>
    {{ partial "header.html" . }} {{ block "main" . }}{{ end }} {{ partial
    "footer.html" . }}
  </body>
</html>
