<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="alchemmist" />
    <meta property="og:description" content="Personal web site of alchemmist" />
    <meta property="og:image" content="/assets/preview.png" />
    <meta property="og:url" content="https://alchemmist.xyz/" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/syntax.css" />
    <link
      rel="icon"
      href="/assets/logo-nobackground.svg"
      type="image/svg+xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ .Site.BaseURL }}index.xml"
      title="{{ .Site.Title }} RSS Feed"
    />
    <title>{{ .Title }}</title>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-11CS0ECH9L"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-11CS0ECH9L");
    </script>
    <script>
      MathJax = {
        tex: {
          displayMath: [["$$", "$$"]],
          inlineMath: [["$", "$"]],
        },
        loader: {
          load: ["ui/safe"],
        },
        svg: {
          fontCache: "local",
        },
        options: {
          enableMenu: false, // <-- отключаем контекстное меню
        },
      };
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("img[alt^='|']").forEach(function (img) {
          const width = img.alt.match(/^\|(\d+)/)?.[1];
          if (width) {
            // img.style.width = width + "px";
            img.style.width = `${width / 20}` + "rem";
            img.alt = ""; // убираем странный alt
          }
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const header = document.querySelector("header");
        const burger = header.querySelector(".burger");
        const overlay = header.querySelector(".overlay");
        const img = burger.querySelector("header .burger img");
        let currentAngle = 0;

        let menuOpen = false;

        function toggleMenu() {
          let delta = menuOpen ? -150 : 180; // при закрытии меньше оборот
          currentAngle += delta;

          img.style.transition = "transform 0.5s ease-in-out";
          img.style.transform = `rotate(${currentAngle}deg)`;

          menuOpen = !menuOpen;

          header.classList.toggle("is-open");
        }

        burger.addEventListener("click", toggleMenu);
        overlay.addEventListener("click", toggleMenu);
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const headerLogo = document.querySelector(".header-logo");
        let logoAngle = 0;

        // Для подсчёта кликов
        let clickTimes = [];

        headerLogo.addEventListener("click", () => {
          // Вращение логотипа на 390 градусов
          logoAngle += 390;
          headerLogo.style.transition = "transform 0.5s ease-in-out";
          headerLogo.style.transform = `rotate(${logoAngle}deg)`;

          // Логика для Moss-секрета
          const now = Date.now();
          clickTimes.push(now);

          if (
            clickTimes[clickTimes.length - 1] -
              clickTimes[clickTimes.length - 2] >=
            2000
          ) {
            clickTimes = []; // сбрасываем счётчик
          }

          if (clickTimes.length >= 12) {
            clickTimes = []; // сбрасываем счётчик
            showMossLoader();
          }
        });

        function showMossLoader() {
          const loader = document.getElementById("moss-loader");
          loader.style.display = "block";

          // Создаём случайные надписи "moss" на фоне
          const interval = setInterval(() => {
            const span = document.createElement("span");
            span.textContent = "moss";
            span.style.position = "absolute";
            span.style.left = Math.random() * 100 + "%";
            span.style.top = Math.random() * 100 + "%";
            span.style.color = "#fff";
            span.style.userSelect = "none";

            span.style.fontSize = 10 + Math.random() * 20 + "px";
            loader.appendChild(span);
          }, 10); // каждые 100 мс появляется новая надпись

          // Через 3 секунды перенаправляем
          setTimeout(() => {
            clearInterval(interval);
            window.location.href = "/moss/logo-symbolism";
          }, 3000);
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({ startOnLoad: true });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.css"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const zoom = mediumZoom("img", {
          background: "rgba(0, 0, 0, 0.7)",
          margin: 0,
          scrollOffset: 50,
          animationDuration: 300,
        });

        // Отключаем зум для изображений с классом 'no-zoom'
        const noZoomImages = document.querySelectorAll("img.no-zoom");
        noZoomImages.forEach((img) => zoom.detach(img));
      });
    </script>
    <script
      defer
      src="https://umami.alchemmist.xyz/script.js"
      data-website-id="a45a3e3e-9010-47e0-8831-9e51449a85c3"
    ></script>
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <div
      id="moss-loader"
      style="
        display: none;
        position: fixed;
        inset: 0;
        background: #000;
        color: #fff;
        font-family: monospace;
        z-index: 9999;
      "
    ></div>
    {{ partial "header.html" . }} {{ block "main" . }}{{ end }} {{ partial
    "footer.html" }}
  </body>
</html>
