<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="alchemmist" />
    <meta property="og:description" content="Personal web site of alchemmist" />
    <meta property="og:image" content="/assets/preview2.png" />
    <meta property="og:url" content="https://alchemmist.xyz/" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/syntax.css" />
    <link rel="icon" href="/assets/logo.svg" type="image/svg+xml" />
    <title>{{ .Title }}</title>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-11CS0ECH9L"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-11CS0ECH9L");
    </script>
    <script>
      MathJax = {
        tex: {
          displayMath: [["$$", "$$"]],
          inlineMath: [["$", "$"]],
        },
        loader: {
          load: ["ui/safe"],
        },
        svg: {
          fontCache: "local",
        },
      };
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("img[alt^='|']").forEach(function (img) {
          const width = img.alt.match(/^\|(\d+)/)?.[1];
          if (width) {
            // img.style.width = width + "px";
            img.style.width = `${width / 20}` + "rem";
            img.alt = ""; // убираем странный alt
          }
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const header = document.querySelector("header");
        const burger = header.querySelector(".burger");
        const overlay = header.querySelector(".overlay");

        function toggleMenu() {
          header.classList.toggle("is-open");
        }

        burger.addEventListener("click", toggleMenu);
        overlay.addEventListener("click", toggleMenu);
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({ startOnLoad: true });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.css"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Выбираем ВСЕ изображения внутри контента поста
        const images = document.querySelectorAll("img");

        // Применяем medium-zoom с настройками
        mediumZoom(images, {
          background: "rgba(0, 0, 0, 0.7)", // Темный оверлей
          margin: 50, // Отступ от краев экрана
          scrollOffset: 50, // Компенсация при прокрутке
          animationDuration: 300, // Длительность анимации в мс
        });
      });
    </script>
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    {{ partial "header.html" . }} {{ block "main" . }}{{ end }} {{ partial
    "footer.html" }}
  </body>
</html>
