{{ define "main" }}
    <main class="container">
        <div id="search-results"></div>
    </main>
{{ end }}
{{ define "head" }}
    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            new PagefindUI({
                element: "#search-results",
                showImages: false,
                showEmptyFilters: true,
                resetStyles: false,
                bundlePath: "/_pagefind/"
            });
        });
    </script>
{{ end }}
