alchemmist.xyz {
    root * /srv/site
    
    handle /cv {
        rewrite * /cv.html
        file_server
    }

    handle /blog {
        rewrite * /blog.html
        file_server
    }
    
    handle {
        try_files {path} /index.html
        file_server
    }
}
