alchemmist.xyz {
    encode gzip

    reverse_proxy hugo:1313

    redir /cv/long-rus https://alchemmist.github.io/CV/pdf/long-rus.pdf
    redir /cv/long-eng https://alchemmist.github.io/CV/pdf/long-eng.pdf
}

