* {
  font-family: "Courier New";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  font-size: 18px;
  margin: 25px;
}

.link a {
  color: #0d47a1;
}

.link:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(13, 71, 161, 0.2);
}

h1 {
  margin: 10px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 40px;
  width: 100%;
}

.header-container {
  display: flex;
}

.ascii-art {
  white-space: pre;
  font-size: 12px;
  color: #444;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.updates-container h3 {
  margin-bottom: 15px;
}

.base-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-container {
  gap: 2cm;
  width: 70%;
}

h1 a {
  color: black;
  text-decoration: none;
  cursor: default;
}

.cv-container {
  display: flex;
  flex-direction: column;
}

.cv-container h3 {
  margin: 10px;
}

footer {
  width: 100%;
  height: 1cm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1cm;
}

footer p {
  color: lightgray;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.footer-info-box {
  display: flex;
}

.footer-link {
  font-size: 15px;
  margin: 15px;
}

.footer-link:hover {
  transform: scale(1.1);
}

.footer-link a {
  color: lightgray;
}

.articles-container {
  display: flex;
  flex-direction: column;
}

mjx-container[display="true"] {
  pointer-events: none;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Roman";
  src: url("/assets/fonts/cmu.serif-roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Roman";
  src: url("/assets/fonts/cmu.serif-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("/assets/fonts/cmu.typewriter-text-regular.ttf") format("truetype");
  font-weight: noraml;
  font-style: normal;
}

article {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

article p {
  text-align: left;
}

article img {
  transform: translate(-50%, 0%);
  margin: 15px 50%;
}

article ol li {
  margin: 0.9em 0;
}

article ul,
ol {
  text-align: left;
  padding-left: 1.5em;
  margin-left: 0;
}

li::marker {
  font-size: 1em;
}

.article-date {
  text-align: center !important;
  margin-bottom: 0.8cm;
}

.article-date em {
  font-size: 15px !important;
}

article * {
  font-family: "Computer Modern Roman", serif;
  font-size: 19px;
}

article h1 {
  margin-bottom: 0;
  font-size: 25px;
}

article h2 {
  margin: 0.5cm;
}

article h3 {
  margin: 0.5cm;
}

article h4 {
  margin: 0.5cm;
}

.articles-container li {
  text-align: left;
  margin: 0.3cm;
}

.articles-container h2 {
  margin: 0.5cm;
}

pre code {
  display: block;
  background-color: #f9f9f9;
  color: #333;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  overflow-x: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

pre code * {
  /* font-family: "JetBrains Mono"; */
  font-family: "Computer Modern Typewriter";
  font-size: 0.95em;
  line-height: 1.2;
}

pre {
  margin: 0;
}

p code,
li code,
blockquote code {
  background-color: #f0f0f0;
  padding: 0em 0.3em 0em 0.3em;
  margin: 0 0.1em;
  border-radius: 3px;
  font-family: "Computer Modern Typewriter";
  font-size: 0.95em;
  color: #333;
}

.arhive-containter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#tags-between-arhive {
  display: inline;
  height: 100px;
}

.tags-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2cm 0;
}

.thanks-container * {
  color: rgba(0, 0, 0, 0.2);
}

.tag {
  margin: 5px 0;
}

.tags-list h3 {
  margin: 15px 0;
}

.poetry-container {
  display: flex;
  flex-direction: column;
}

.poetry {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.poetry * {
  font-family: "Computer Modern Roman", serif;
  font-size: 19px;
}

.poetry img {
  width: 400px;
}

.poetry-text {
  text-align: cetner;
}

/* при наведении на «датчик» — картинка выезжает */
.edge-trigger:hover + .edge-image {
  left: 0;
}

.edge-panel {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px; /* Невидимая область активации */
  z-index: 100;
}

.sliding-image {
  position: fixed;
  left: -200px; /* Скрыто за левым краем */
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 200px;
  background: url("https://alchemmist.xyz/images/moss1.png") center/cover;
  transition: left 0.3s ease-out;
  z-index: 99;
}

.edge-panel:hover ~ .sliding-image {
  left: 0; /* Появляется при наведении */
}
