:root {
  --accent: rgb(127, 170, 199);
  --accent-alpha-70: rgba(127, 170, 199,.7);
  --accent-alpha-20: rgba(127, 170, 199,.2);

  --background: #1D212C;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
