<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/alchemmist/personal-site@main/site/static/favicon.ico" type="image/x-icon" />

    {{ $js := resources.Get "logo-symbolism.js" | resources.Minify | resources.Fingerprint
    }}
    <script
      src="{{ $js.Permalink }}"
      integrity="{{ $js.Data.Integrity }}"
      defer
    ></script>


    {{ $style := resources.Get "style.css" | resources.Minify |
    resources.Fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $style.Permalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />

    {{ $logosym := resources.Get "logo-symbolism.css" | resources.Minify |
    resources.Fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $logosym.Permalink }}"
      integrity="{{ $logosym.Data.Integrity }}"
    />
    <title>{{ .Title }}</title>
  </head>
  <body class="logo-symbolism-page">
    <span class="hidden">
      <img
        class="no-zoom secret-logo-symbol"
        src="/assets/logo-green.svg"
        loading="lazy"
      />
    </span>
    <div class="base-container">
      <article>
        <span class="hidden"
          ><h1>{{ .Title }}{{ partial "allLanguages.html" . }}</h1></span
        >
        <span class="hidden">{{ .Content }}</span>
        <span class="hidden">
            <p class="go-back-button">
              <code><a href="/">return to blog</a></code>
            </p>
        </span>
      </article>
    </div>
  </body>
</html>
