<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $svg := partial "logo-nobackground.html" . }}
    <link
      rel="icon"
      href="data:image/svg+xml;base64,{{ $svg | base64Encode }}"
      type="image/svg+xml"
    />

    {{ $js := resources.Get "logo-symbolism.js" | resources.Minify | resources.Fingerprint
    }}
    <script
      src="{{ $js.Permalink }}"
      integrity="{{ $js.Data.Integrity }}"
      defer
    ></script>


    {{ $style := resources.Get "style.css" | resources.Minify |
    resources.Fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $style.Permalink }}"
      integrity="{{ $style.Data.Integrity }}"
    />

    {{ $logosym := resources.Get "logo-symbolism.css" | resources.Minify |
    resources.Fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $logosym.Permalink }}"
      integrity="{{ $logosym.Data.Integrity }}"
    />
    <title>{{ .Title }}</title>
  <script>
    window.remark_config = {
      host: "https://remark42.alchemmist.xyz",
      site_id: "alchemmist",
      components: ["embed"],
      no_footer: true,
      simpe_view: true,
      theme: "dark",
    };
  </script>
  <script src="https://remark42.alchemmist.xyz/web/embed.js" defer></script>
  </head>
  <body class="logo-symbolism-page">
    <span class="hidden">
      <img
        class="no-zoom secret-logo-symbol"
        src="/assets/logo-green.svg"
        loading="lazy"
      />
    </span>
    <div class="base-container">
      <article>
        <span class="hidden"
          ><h1>{{ .Title }}{{ partial "allLanguages.html" . }}</h1></span
        >
        <span class="hidden">{{ .Content }}</span>
        <span class="hidden">
            <p class="go-back-button">
              <code><a href="/">return to blog</a></code>
            </p>
        </span>
        <hr class="end-splitter" />
        <div id="remark42"></div>
        <hr class="end-splitter" />
      </article>
    </div>
  </body>
</html>
