<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/syntax.css" />
    <link rel="stylesheet" href="/assets/logo-symbolism.css" />
    <link
      rel="icon"
      href="/assets/logo-nobackground.svg"
      type="image/svg+xml"
    />
    <title>{{ .Title }}</title>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const hiddens = document.querySelectorAll(".hidden");

        function updatePos(x, y) {
          hiddens.forEach((p) => {
            p.style.setProperty("--posX", `${x - 200}px`);
            p.style.setProperty("--posY", `${y - 200}px`);
          });
        }

        // Для ПК
        document.addEventListener("mousemove", (e) => {
          updatePos(e.clientX, e.clientY);
        });

        // Для мобильных устройств
        document.addEventListener(
          "touchmove",
          (e) => {
            if (e.touches.length > 0) {
              const touch = e.touches[0];
              updatePos(touch.clientX, touch.clientY);
            }
          },
          { passive: true },
        );
      });
    </script>
  </head>
  <body class="logo-symbolism-page">
    <span class="hidden">
      <img class="no-zoom secret-logo-symbol" src="/assets/logo-green.svg" />
    </span>
    <div class="base-container">
      <article>
        <span class="hidden"
          ><h1>{{ .Title }}{{ partial "allLanguages.html" . }}</h1></span
        >
        <span class="hidden">{{ .Content }}</span>
        <span class="hidden">
          <p>
            <code><a href="/"> return to blog</a></code>
          </p>
        </span>
      </article>
    </div>
  </body>
</html>
