{{ define "main" }}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Путь к изображению-заглушке
    const placeholder = "/assets/book-cover.png";

    // Обработка ошибок загрузки обложек
    document.querySelectorAll(".book-cover").forEach((img) => {
      img.addEventListener("error", function () {
        if (this.src !== placeholder) {
          this.src = placeholder;
          this.alt = "Обложка недоступна";
        }
      });
    });
  });
</script>

<div class="base-container book-container">
<h1>Books from: {{ .Title }}</h1>
  <div class="book-grid">
    {{ range .Pages }}
    <div class="book-card">
      {{ with .Params.cover }}
      <img
        class="book-cover"
        src="{{ . }}"
        alt="Cover preview"
        loading="lazy"
      />
      {{ end }} {{ with .Params.title }}
      <div class="book-title">{{ . }}</div>
      {{ end }} {{ with .Params.author }}
      <div class="book-author">{{ . }}</div>
      {{ end }} {{ $status := .Params.status }}
      <div class="book-status">
        {{ if eq $status "reading" }}  {{ else if eq $status "readed" }}  {{
        else if eq $status "future" }}  {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
