{{ define "main" }}
<h1>Books about: {{ .Title }}</h1>

<div class="book-grid">
    {{ range .Pages }}
    <div class="book-card">
        {{ with .Params.cover }}
        <img class="book-cover" src="{{ . }}" alt="Cover preview" loading="lazy" />
        {{ end }}

        {{ with .Params.title }}
        <div class="book-title">{{ . }}</div>
        {{ end }}

        {{ with .Params.author }}
        <div class="book-author">{{ . }}</div>
        {{ end }}

        {{ $status := .Params.status }}
        <div class="book-status">
            {{ if eq $status "reading" }}📖 
            {{ else if eq $status "readed" }}✅ 
            {{ else if eq $status "future" }}🕓 
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}

