{{ define "main" }}
<main class="base-container">
  <div class="poetry">
    <h1 data-pagefind-meta="title">
      {{ .Title }} {{ partial "allLanguages.html" . }}
    </h1>
    <p class="article-date"><em>{{ .Date.Format "2006-01-02" }}</em></p>
    <pre class="poetry-text">{{ .Content | safeHTML }}</pre>
    {{ partial "artical-finish.html" }}
    {{ partial "go-back-button" (dict "context" . "url" "/poetry" ) }}
  </div>
</main>
{{ end }} {{ define "head" }}
<meta data-pagefind-filter="Language[lang]" lang="{{.Language.LanguageName}}" />
{{ partial "connect-medium-zoom.html" }} {{ end }}
