{{ define "main" }}
<main class="base-container essay-container">
  <article>
    <h1>{{ .Title }} {{ partial "allLanguages.html" . }}</h1>
    <p class="article-date"><em>{{ .Date.Format "2006-01-02" }}</em></p>

    {{ if .Params.topics }}
    <p class="essay-topics">
      {{ range $index, $topic := .Params.topics }}
        {{ if $index }} {{ end }}
        <code><a href="{{ (path.Join "topics" $topic) | relLangURL }}">{{ $topic }}</a></code>
      {{ end }}
    </p>
    {{ end }}

    {{ .Content }}
    <p class="go-back-button">
      <code><a href="/articles">cd ..</a></code>
    </p>
    {{ partial "artical-finish.html" }}
  </article>
</main>
{{ end }}
