{{ define "main" }}
<main class="base-container essay-container">
  <article>
    <h1 data-pagefind-meta="title">{{ .Title }} {{ partial "allLanguages.html" . }}</h1>
    <p class="article-date"><em>{{ .Date.Format "2006-01-02" }}</em></p>

    {{ if .Params.topics }}
    <p class="essay-topics">
    <span id="topics-title">Topics:</span>
      {{ range $index, $topic := .Params.topics }}
        {{ if $index }} {{ end }}
        <code><a href="{{ (path.Join "topics" $topic) | relLangURL }}">{{ $topic }}</a></code>
      {{ end }}
    </p>
    <hr />
    {{ end }}

    {{ .Content }}
    {{ partial "artical-finish.html" }}
    <hr class="end-splitter" />
    {{ partial "share-buttons.html" . }}
  </article>
</main>
{{ end }}
{{ define "head" }}
    <meta  data-pagefind-filter="Language[lang]" lang={{ .Language.LanguageName }} />
  {{ if .Params.topics }}
    <meta name="keywords" content="{{ delimit .Params.topics ", " }}">
  {{ end }}
  {{ partial "connect-medium-zoom.html" }}
  {{ partial "connect-mermaid.html" }}
  {{ partial "connect-mathjax.html" }}
{{ end }}
