<footer>
  <p>© 2025 alchemmist.xyz</p>
  <div class="footer-info-box">
    <div class="footer-link">
      <a href="https://t.me/alchemmist">Telegram</a>
    </div>
    <div class="footer-link">
      <a href="https://github.com/alchemmist">GitHub</a>
    </div>
    <div class="footer-link">
      <a href="https://www.linkedin.com/in/alchemmist/">LinkedIn</a>
    </div>
    <div class="footer-link">
      <a href="https://github.com/alchemmist/personal-site">OpenSource</a>
    </div>
  </div>
</footer>
