{{ define "main" }}

<h2>Teaching {{ partial "allLanguages.html" . }}</h2>
<div class="base-container teach-container">
  <article style="width: 100%">
    <div id="about-me-box">
      <img src="/images/me2.png" id="me-photo" />
      <span
        >Меня зовут Антон, я студент Центрального Университета на направлении
        «Математика и компьютерные науки» (2028). Я окончил 2-х летний курс в
        Лицее Академии Яндекса с аттестатом отличника, в последствии стал
        победителем научно-практической конференции “Наука для жизни”, финалист
        чемпионата России по спортивному программированию (подтверждающие
        документы могу предоставить в личных сообщения). Я уже 3 года преподаю
        программирование для детей и взрослых с самого нуля. Помимо
        программирования на занятиях прививаю навыки поиска, обработки и анализа
        информации, а также самостоятельного решения комплексных задач.</span
      >
    </div>
  </article>
</div>

{{ end }}
