{{ define "main" }}

<h1>Обучение {{ partial "allLanguages.html" . }}</h1>
<div class="base-container teach-container">
  <article>
    <h2>Обо мне</h2>
    <div id="about-me-box">
      <img class="medium-zoom-image" src="/images/me2.png" id="me-photo" />
      <p>
        Меня зовут Антон, я практикующий разработчик и студент Центрального
        Университета на направлении «Математика и компьютерные науки» (2028).
        Подробнее с моими профессиональными достижениями, образованием и
        деятельностью можете ознакомиться в
        <a href="/cv/ru/long">резюме</a>. Четыре года я преподаю
        программирование для детей и взрослых с самого нуля. Смотрите отзывы на
        <a
          href="https://www.avito.ru/moskva/predlozheniya_uslug/prepodavatel_programmirovaniya_na_python_2556461612"
          >Авито</a
        >.
      </p>
    </div>
    <h2>Что буду делать я</h2>
    <p>Я предлагаю несколько курсов по программированию на Python:</p>
    <ul>
      <li>Основы Python. Базовый курс. (900 ₽/час)</li>
      <li>Основы Python. Продвинутый курс. (1200 ₽/час)</li>
      <li>Разработка на Python (1600 ₽/час)</li>
    </ul>
    <p>
      Об отличиях смотрите раздел «<a href="#course-programm">Программа курса</a
      >». Курс состоит из уроков по каждой теме. В каждом из уроков для вас
      подготовлен подробный теоретический материал, а также задания. На часовом
      занятии <i>(обычно 1-2 раза в неделю)</i> мы с вами будем в диалоге
      разбирать запланированную тему, напишем рабочие примеры, попробуем
      порешать задачи, чтобы сразу ответить на все вопросы.
    </p>
    <p>
      Формат нашей работы — смешанный. Это означает, что обучение не
      ограничивается онлайн-занятиями. Пока вы дома самостоятельно повторяете
      материал и решаете задачи, я всегда доступен для любых вопросов в
      Telegram. Если нет идей, как подступиться к задаче, дам подсказку. Если
      возник неочевидный вопрос, объясню. Если увидим, что тема западает, запишу
      дополнительный видеоурок. Также мы вместе будем проверять домашние
      задания: разбирать ошибки, рассматривать другие подходы к решению и
      отвечать на возникшие вопросы.
    </p>
    <p>
      Все задания и теоретические материалы будут вам открываться по мере
      прохождения на платформе:
    </p>
    <div id="teach-preview">
      <img src="/images/teach1.png" />
      <img src="/images/teach2.png" />
    </div>
    <h2>Что будете делать вы</h2>
    <p>
      Как я уже говорил выше, обучение не длится час-два в неделю во время
      созвонов. Вы должны выделить достаточно времени на самостоятельную учёбу
      дома, чтобы обучение было эффективным. Программирование требует
      усидчивости и концентрации, чтобы добиться хороших результатов.
    </p>
    <p>
      В первых блоках курса самостоятельная работа будет понятной: решение
      задач, вся необходимая теория для которых есть в учебнике. Но по мере
      продвижения по курсу мы будем учиться самостоятельно искать информацию в
      интернете. Поэтому задания будут требовать самостоятельной работы с
      официальной документацией и другими источниками. Когда же мы дойдем до
      проектов, то даже само задание будет обрисовано широкими мазками. Вы
      сначала сами будете принимать все решения по реализации проекта, имея
      свободу отходить от исходной задумки и добавлять новый функционал. А после
      мы будем обсуждать плюсы и минусы выбранного подхода, чтобы следующие
      проекты были еще лучше!
    </p>
    <h2 id="course-programm">Программа курса</h2>
    <p>
      Ниже представлена полная программа курса «Разработка на Python». На
      базовом и продвинутом курсе по основам Python программа будет немного
      отличаться, сейчас расскажу как именно.
    </p>
    <p>
      <b>Базовый курс</b> нацелен на изучение основ синтаксиса языка. После него
      вы будете уверенно владеть почти всеми синтаксическими конструкциями языка
      и уметь применять их для решения задач. Также вы научитесь работать со
      стандартной библиотекой и сторонними библиотеками из интернета, что
      открывает простор для быстрого решения любых личных и рабочих задач. В
      этом курсе будут блоки по базовым понятиям Python
      <i>(примитивы, базовые коллекции, циклы, ветвления, ...)</i>, функциям,
      стандартным и сторонним библиотекам. Но, к сожалению, в этом курсе нет
      проектов и блока про ООП.
    </p>
    <p>
      <b>Продвинутый курс</b> включает в себя все темы базового, но расширен
      факультативными уроками по тонкостям языка и пониманию его внутреннего
      устройства в каждом из блоков. Также на продвинутом курсе вы изучите
      дополнительный блок ООП и сделаете свой первый проект! Любые теоретические
      материалы можно найти и в интернете, и если уж зачем-то и платить за
      образование, так это ради заданий. Задания — это единственный способ
      убедиться, что материал действительно понят, получить практический навык,
      а не только теорию, и проработать материал. Поэтому на продвинутом курсе к
      <i>каждому</i> уроку добавляется секция дополнительных задач "со
      звездочкой".
    </p>
    <p>
      <b>«Разработка на Python»</b> — это курс, выходящий за рамки изучения
      одного языка программирования, сформирует у вас комплексное понимание
      IT-сферы. Он включает в себя все блоки, проекты, темы и задания
      продвинутого курса, но также расширен еще двумя блоками
      <i>(блоки 7, 9 в программе)</i> и двумя проектами. Вы поймете, как
      работают современные IT-сервисы и web-системы, сформируете целостное
      представление о процессах разработки. Освоите такие инструменты
      разработки, как <code>Git</code>, и начнете собирать своё портфолио
      проектов на GitHub. Попробуете себя в различных сферах от десктопных
      приложений до телеграм-ботов, чтобы расширить кругозор и определить свою
      сферу интересов.
    </p>

    <div class="course-blocks">
      <div class="block">
        <div class="block-header"><h3>Блок 1. Базовые понятия</h3></div>
        <div class="block-content">
          <ul>
            <li>Знакомство со средой</li>
            <li>Условный оператор</li>
            <li>Простые встроенные функции</li>
            <li>Знакомство с циклом while</li>
            <li>Отладчик</li>
            <li>Знакомство с циклом for</li>
            <li>True и False, break и continue</li>
            <li>Вложенные циклы</li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="block-header"><h3>Блок 2. Коллекции</h3></div>
        <div class="block-content">
          <ul>
            <li>Множества</li>
            <li>Строки. Индексация</li>
            <li>Строки. Срезы</li>
            <li>Знакомство со списками</li>
            <li>Кортежи. Преобразование коллекций</li>
            <li>Методы split и join. Списочные выражения</li>
            <li>Методы списков и строк</li>
            <li>Вложенные списки</li>
            <li>Знакомство со словарями</li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="block-header"><h3>Блок 3. Функции</h3></div>
        <div class="block-content">
          <ul>
            <li>Функции. Знакомство</li>
            <li>Функции. Возвращение значений из функций</li>
            <li>Области видимости переменных</li>
            <li>Передача параметров. Работа с памятью в Python</li>
            <li>Функции с переменным числом аргументов</li>
            <li>Функции как объект. Лямбда-функции</li>
            <li>Обработка коллекций. Потоковый ввод <code>sys.stdin</code></li>
            <li>Рекурсия</li>
            <li>Переопределение функций и декораторы. Замыкания</li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="block-header"><h3>Блок 4. Библиотеки</h3></div>
        <div class="block-content">
          <ul>
            <li>Библиотеки Python. Встроенные модули</li>
            <li>Работа с графическими файлами</li>
            <li>Работа с графическими файлами и звуком</li>
            <li>Файлы в Python. Внутреннее устройство файлов</li>
            <li>Морфология</li>
            <li>Работа с документами</li>
            <li>Итераторы и коллекции</li>
            <li>Библиотеки Python. Numpy</li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="block-header"><h3>Блок 5. Первый проект</h3></div>
        <div class="block-content">
          <h4>Материалы по проекту</h4>
          <ul>
            <li>Создание проекта. Утилита для просмотра погоды</li>
            <li>Библиотека argparse. Создание модулей</li>
            <li>Знакомство с API</li>
          </ul>

          <h4>План</h4>
          <ul>
            <li>Научиться работать с библиотекой <code>argparse</code></li>
            <li>Разобраться с тем, как разбивать код на модули</li>
            <li>Научиться взаимодействовать с API при помощи requests</li>
            <li>OpenWeather. Получить данные о погоде</li>
            <li>Получить координаты</li>
            <li>
              Ознакомиться с библиотекой <code>rich</code>, поиграться с
              форматированием
            </li>
            <li>Написать пустые обработчики для всех команд и флагов</li>
            <li>
              Реализовать команду <code>now</code> в базовом сценарии
              использования
            </li>
            <li>
              Реализовать команду <code>forecast</code> в базовом сценарии
              использования
            </li>
            <li>
              Добавить опциональные флаги <code>--day</code>,
              <code>--with-time</code>, <code>--full-info</code>,
              <code>--high-precision</code>
            </li>
            <li>Добавить красивое форматирование ввода и вывода</li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="block-header"><h3>Блок 6. ООП</h3></div>
        <div class="block-content">
          <ul>
            <li>Введение в ООП</li>
            <li>Полиморфизм</li>
            <li>Определение операторов</li>
            <li>Наследование</li>
            <li>Наследование. Часть 2</li>
            <li>Проектирование и разработка классов</li>
            <li>Проектирование и разработка классов. Часть 2</li>
            <li>Практика. Решение задач на классы</li>
            <li>Практика. Проектирование классов</li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="block-header"><h3>Блок 7. Инструменты разработки</h3></div>
        <div class="block-content">
          <ul>
            <li>Что такое <code>QT</code> и <code>PyQT</code>. Знакомство</li>
            <li>
              <code>QtDesigner</code>, <code>pyuic</code>, два способа
              подключения ui-файла
            </li>
            <li>Обработка исключений. Создание собственных исключений</li>
            <li>Диалоги, работа с изображениями</li>
            <li>Работа с командной строкой. Периодические задачи</li>
            <li>
              Работа с простыми csv-таблицами. Работа с табличными данными в
              <code>PyQT</code>
            </li>
            <li>Введение в БД. Работа с SQL</li>
            <li>Введение в БД. Работа с SQL. Часть 2</li>
            <li>
              Сборка независимого приложения. Обработка клавиатуры и курсора
            </li>
            <li>Введение в репозитории и Git</li>
            <li>Совместная работа над проектом</li>
            <li>
              Цели и подходы к тестированию. Создание «самодельных» тестов
            </li>
            <li>Библиотеки <code>unittest</code> и <code>pytest</code></li>
          </ul>
        </div>
      </div>

      <div class="block">
        <div class="block-header"><h3>Блок 8. Второй проект</h3></div>
        <div class="block-content">
          <h4>Материалы по проекту</h4>
          <ul>
            <li>Создание проекта. Сервис онлайн-карт</li>
            <li>
              Работа с файловой системой и популярными форматами файлов:
              zip-архивами и <code>json</code>
            </li>
            <li>API: углублённое погружение</li>
            <li>Работа с протоколом HTTP</li>
          </ul>

          <h4>План</h4>
          <ul>
            <li>
              Научиться работать с файловой системой, zip-архивами и
              json-файлами.
            </li>
            <li>Разобраться в понятии API.</li>
            <li>
              Познакомиться с различными API Яндекса (<code>static</code>, <code>geocoder</code>, ППО).
            </li>
            <li>
              Создание репозитория. Знакомство с тикет-системой. (с
              преподавателем)
            </li>
            <li>
              Инициализация проекта. Создание первых веток. Продумывание
              архитектуры. Каркас приложения.
            </li>
            <li>
              Работа над задачами. Часть 1. До задачи "Сброс поискового
              результата" включительно.
            </li>
            <li>Созвон с code-review</li>
            <li>Работа над задачами. Часть 2. До конца.</li>
            <li>Финальный созвон с code-review</li>
          </ul>
        </div>
      </div>
      <div class="block">
        <div class="block-header"><h3>Блок 9. Интернет</h3></div>
        <div class="block-content">
          <ul>
            <li>Введение в Web-технологии. HTML и CSS</li>
            <li>Введение в JavaScript</li>
            <li>Введение во Flask. Обработка HTML-форм.</li>
            <li>Шаблоны flask-wtf</li>
            <li>Знакомство с flask-sqlalchemy</li>
            <li>Cookies и авторизация</li>
            <li>Понятие REST-API. Делаем простое API</li>
            <li>REST-API. Flask-restful</li>
            <li>Разворачиваем проект в облаке</li>
            <li>Введение в асинхронное программирование</li>
            <li>Чат-боты 1 (Вконтакте)</li>
            <li>Чат-боты 2 (Telegram)</li>
            <li>Чат-боты 3 (Discord)</li>
          </ul>
        </div>
        <div class="block">
          <div class="block-header"><h3>Блок 10. Финальный проект</h3></div>
          <div class="block-content">
            <ul>
              <li>Тема проекта придумывается самостоятельно</li>
              <li>Над продумыванием реализации работаем индивидуально</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <h2>Приходите учиться</h2>
    <p>
      Если вы чувствуете, что программа вам подходит и вы готовы работать,
      пишите мне в Telegram:
      <code
        ><a id="teach-tg" href="https://t.me/alchemmist">@alchemmist</a></code
      >
    </p>
    <p>Жду вас на курсе!</p>
  </article>
  {{ partial "go-back-button" (dict "context" . "url" "/" "disableLang" true )
  }}
</div>
{{ end }} {{ define "head" }}
<meta data-pagefind-filter="Language[lang]" lang="{{.Language.LanguageName}}" />
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const blockHeaders = document.querySelectorAll(".block-header");

    blockHeaders.forEach((header) => {
      header.addEventListener("click", function () {
        this.classList.toggle("active");
        const content = this.nextElementSibling;

        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    });
  });
</script>
{{ partial "connect-medium-zoom.html" }} {{ end }}
