{{ define "main" }}
<div class="base-container home-container{{ if and .IsHome (eq .Lang "ru") }} home-ru{{ end }}">
  <div class="base-container home-menu-container">
    <div class="home-title">
      {{ $svg := partial "logo-nobackground.html" . }}
      <img class="no-zoom header-logo" alt="log" loading="lazy" src="data:image/svg+xml;base64,{{ $svg | base64Encode }}" class="icon">
      <a href="/"><h1>alchemmist</h1></a>
    </div>
    <div class="home-menu">
      <div class="link"><a href="/articles">Articles</a></div>
      <div class="link"><a href="/essays">Essays</a></div>
      <div class="link"><a href="/cv">CV</a></div>
      <div class="link"><a href="/books">Books</a></div>
      <div class="link"><a href="/ru/poetry">Poetry</a></div>
      <div class="link"><a href="/updates">Updates</a></div>
      <div class="link"><a href="/ru/teach">Teach</a></div>
    </div>
  </div>
  <div class="follow-container base-container">
    <h3>Follow</h3>
    <div class="follow-options-container">
      <div class="subscribe-banner rss">
        {{ partial "iconify.html" (dict "icon" "mingcute:rss-fill" "size" "1.5em") }}
        <a title="Subscribe to my RSS feed" href="/index.xml" target="_blank">RSS</a>
      </div>

      <div class="subscribe-banner telegram">
        {{ partial "iconify.html" (dict "icon" "ic:baseline-telegram" "size" "1.5em") }}
        <a title="Join to my Telegram public channel" target="_blank" href="https://t.me/alchemmist_blog">Telegram</a>
      </div>

      <div class="subscribe-banner github">
        {{ partial "iconify.html" (dict "icon" "mdi:github" "size" "1.5em")}}
        <a title="Follow me on GitHub" target="_blank" href="https://github.com/alchemmist">GitHub</a>
      </div>

      <div class="subscribe-banner bluesky">
        {{ partial "iconify.html" (dict "icon" "ri:bluesky-fill" "size" "1.2em")}}
        <a title="Follow me on Bluesky" target="_blank" href="https://bsky.app/profile/alchemmist.bsky.social">Bluesky</a>
      </div>

      <div class="subscribe-banner linkedin">
        {{ partial "iconify.html" (dict "icon" "mdi:linkedin" "size" "1.5em")}}
        <a title="Connect to my Linkedin profile" target="_blank" href="https://www.linkedin.com/in/alchemmist/">Linkedin</a>
      </div>

      <div class="subscribe-banner twitter">
        {{ partial "iconify.html" (dict "icon" "prime:twitter" "size" "1.0em")}}
        <a title="Follow me on Twitter" target="_blank" href="https://x.com/alchemmist_blog">Twitter</a>
      </div>

      <div class="subscribe-banner habr">
        {{ partial "iconify.html" (dict "icon" "simple-icons:habr" "size" "1.15em")}}
        <a title="Subscribe me on Habr" target="_blank" href="https://habr.com/en/users/Alchemmist/">Habr</a>
      </div>

      <div class="subscribe-banner medium">
        {{ partial "iconify.html" (dict "icon" "mingcute:medium-fill" "size" "1.5em")}}
        <a title="Subscribe me on Medium" target="_blank" href="https://medium.com/@alchemmist">Medium</a>
      </div>

      <div class="subscribe-banner reddit">
        {{ partial "iconify.html" (dict "icon" "fontisto:reddit" "size" "1.1em")}}
        <a title="Follow me on Reddit" target="_blank" href="https://www.reddit.com/user/alchemmist_blog/">Reddit</a>
      </div>
    </div>
  </div>

  <div class="about-blog-container base-container">
    <h3>About</h3>
    <p>
      I'm Anton. This is my personal blog. Here I'm writing articles about STEM
      topics: programming, linux, math, and so on, and essays about life:
      philosophy, psychology, career, and so on. Also here you can find some
      funny stuff: pictures, poetry, my bookshelf, my CV and other sections.
      Welcome!
    </p>
  </div>
  <div class="mustreads-container base-container">
    <h3>Mustreads</h3>
    <ul>
      <li>
        {{ partial "iconify" (dict "icon" "material-symbols:star-rounded" "class" "mustread-item-bullet") }}
        <span>If your friend is a woman <span class="no-break">(<a href="/essays/is-woman-friend">En</a> | <a href="/ru/essays/is-woman-friend">Ru</a>)</span></span>
      </li>
      <li>
        {{ partial "iconify" (dict "icon" "material-symbols:star-rounded" "class" "mustread-item-bullet") }}
        <span>Battery degradation on Linux <span class="no-break">(<a href="/articles/battery-degradation/">En</a> | <a href="/ru/articles/battery-degradation/">Ru</a>)</span></span>
      </li>
    </ul>
  </div>
  <div class="updates-container base-container">
    <h3>Last updates</h3>
    {{ $updates := .Site.GetPage "updates" }}
    <ul>
      {{ range $line := split $updates.RawContent "\n" }} {{ if in $line "- [ ]"
      }} {{ $cleanLine := replace $line "- [ ]" "" }} {{ $withoutDate :=
      replaceRE `\*\\\[[^\]]*\\\]\*\s*` "" $cleanLine }}
      <li>{{ $withoutDate | markdownify }}</li>
      {{ end }} {{ end }}
    </ul>
  </div>
</div>
<!-- Hidden cat popup -->
<div id="cat-popup" class="cat-popup">
    <img src="/assets/cat.svg" alt="Surprise Cat" width="100px"/>
</div>

{{ end }} {{ define "head" }}
<meta
  name="description"
  content="Personal blog by alchemmist: STEM articles, essays about philosophy, career, psychology and so on."
/>
<meta property="og:type" content="website" />
    <title>alchemmist</title>
    <meta property="og:title" content="{{ .Title }} - Personal blog" />
    <meta property="og:description" content="Personal blog of alchemmist" />
    <meta name="twitter:title" content="alchemmist" />
    <meta
      name="twitter:description"
      content="Personal blog of alchemmist"
    />

{{ end }}
