{{ if strings.HasSuffix .Destination ".mp4" }}
  {{ $width := "" }}
  {{ if strings.HasPrefix .Text "|" }}
    {{ $numbers := findRE `^\|(\d+)` .Text }}
    {{ if $numbers }}
      {{ $width = index (findRE `\d+` (index $numbers 0)) 0 }}
    {{ end }}
  {{ end }}

  <div style="display: flex; justify-content: center; margin: 1rem 0;">
    <video 
      src="{{ .Destination | safeURL }}" 
      autoplay loop muted playsinline 
      controls
      {{ with $width }}width="{{ . }}%"{{ end }}
      style="border-radius: 0.5rem; box-shadow: 0 0 20px rgba(0,0,0,0.15);">
    </video>
  </div>

{{ else }}
{{ $width := "" }}
{{ $scale := 0.95 }} {{/* коэффициент уменьшения */}}
{{ if strings.HasPrefix .Text "|" }}
  {{ $numbers := findRE `^\|(\d+)` .Text }}
  {{ if gt (len $numbers) 0 }}
    {{ $width = index (findRE `\d+` (index $numbers 0)) 0 }}
  {{ end }}
{{ end }}

{{ $rem := "" }}
{{ if $width }}
  {{ $scaled := mul (int $width) $scale }}
  {{ $rem = printf "%.2frem" (div $scaled 20) }}
{{ end }}

<img 
  src="{{ .Destination | safeURL }}" 
  alt="{{ replaceRE `^\|\d+` "" .Text }}" 
  class="medium-zoom-image"
  {{ if $rem }}style="width: {{ $rem }};" width="{{ $width }}"{{ end }} />
{{ end }}
