{{ define "main" }}
<main class="base-container articles-container">
  <h2 data-pagefind-meta="title">Articles {{ partial "allLanguages.html" . }}</h2>

  <section class="tags-list">
    <h3>Tags</h3>
    <ul>
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <span class="tag"><a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">{{ $name }}</a>({{ len $taxonomy }})</span>
      {{ end }}
    </ul>
  </section>
  <div class="archive-container">
    <h3>Archive</h3>
    {{ range .Pages.GroupByDate "2006" }}
    <h4>{{ .Key }}</h4>
    <ul>
      {{ range .Pages }}
        <li class="article-item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a> — <span>{{ .Date.Format "2006-01-02" }}</span>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</main>
{{ end }}

