{{ define "main" }}
<main class="base-container">
  <article>
    <h1 data-pagefind-meta="title">{{ .Title }} {{ partial "allLanguages.html" . }}</h1>
    <p class="article-date"><em>{{ .Date.Format "2006-01-02" }}</em></p>

    {{ if .Params.tags }}
    <p class="article-topics">
    <span id="tags-title">Tags:</span>
      {{ range $index, $tag := .Params.tags }}
          {{ $tagLower := $tag | lower }}
        <code><a class="{{ $tagLower }}" href="{{ (path.Join "tags" $tagLower) | relLangURL }}">{{ $tagLower }}</a></code>
      {{ end }}
    </p>
    <hr/>

    {{ end }}
    {{ .Content }}
    {{ partial "artical-finish.html" }}
    <hr class="end-splitter" />
    {{ partial "share-buttons.html" . }}
  </article>
</main>
{{ end }}
{{ define "head" }}
    <meta  data-pagefind-filter="Language[lang]" lang={{ .Language.LanguageName }} />
  {{ if .Params.tags }}
    <meta name="keywords" content="{{ delimit .Params.tags ", " }}">
  {{ end }}
  {{ partial "connect-medium-zoom.html" }}
  {{ partial "connect-mermaid.html" }}
  {{ partial "connect-mathjax.html" }}
  {{ partial "connect-nerdfont.html" }}

  {{ $syntax := resources.Get "syntax.css" | resources.Minify |
  resources.Fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $syntax.Permalink }}"
    integrity="{{ $syntax.Data.Integrity }}"
    media="print"
    onload="this.media='all'"
  />
{{ end }}
