{{ define "main" }}
<div class="base-container books-container">
<h2>Books genres</h2>
  <div class="tags-list">
    <ul>
      {{ range $key, $value := site.Taxonomies.genre }}
        <span class="tag">
          <a href="{{ "/genre/" | relLangURL }}{{ $key | urlize }}">{{ $key }}</a>({{ len $value }})
        </span>
      {{ end }}
    </ul>
  </div>
<h2>Books statuses</h2>
  <div class="archive-container">
    <ul>
      {{ range $key, $value := site.Taxonomies.status }}
        <li>
          <a href="{{ "/status/" | relLangURL }}{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})
        </li>
      {{ else }}
        <li>Statuses not found</li>
      {{ end }}
    </ul>
  </div>
<h2>Books authors</h2>
  <div class="archive-container">
    <ul>
      {{ range $key, $value := site.Taxonomies.author }}
        <li>
          <a href="{{ "/author/" | relLangURL }}{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})
        </li>
      {{ else }}
        <li>Authors not found</li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}

